.Table {
    background-image: url("/table.png");
    height: 359px;
    width: 591px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.playerHand {
    background-color: green;
    border-radius: 3px;
    margin: 15px;
}

.dealerSpot {
    justify-content: center;
    background-color: green;
    border-radius: 3px;
    display: flex;
}

.cardHolder{
    background-color: white;
    display: flex;
}


.dealerSpot > div:first-child {
    display: none;
}

